@inject IViewLocalizer Localizer
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="item">@Localizer["Hello"], @UserManager.GetUserName(User)!</a>
    <form asp-controller="Account" asp-action="Logout" class="item">
        <button class="btn btn-link">@Localizer["Out"]</button>
    </form>    
}
else
{
    <a asp-area="" asp-controller="Account" asp-action="Register" class="item">@Localizer["Reg"]</a>
    <a asp-area="" asp-controller="Account" asp-action="Login" class="item">@Localizer["In"]</a>
}
