@inject IViewLocalizer Localizer

@model IndexViewModel
@{
    ViewData["Title"] = Localizer["Title"];
    User user = (User)ViewData["User"];
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>@Localizer["Change_acc"]</h4>
    <hr />
    <form method="post" enctype="multipart/form-data">
        <img src="~/Uploads/@ViewData["Photo"]" alt="@Localizer["Photo"]" />
        <input type="file" name="file" />
        <button type="submit">@Localizer["Upload"]</button>
    </form>    
    <dl class="dl-horizontal">
        <dt>@Localizer["Password"]:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">@Localizer["Change"]</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">@Localizer["Create"]</a>
            }
        </dd>
        <!--<dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count <a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">Manage</a>
        </dd>-->
    </dl>
</div>
