@inject IViewLocalizer Localizer

@model IndexViewModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<h2>@ViewData["Title"]</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>

    @if (ViewData["Photo"] == null)
    {
        <img id="img" class="dz-message dz-preview dz-processing dz-image-preview dz-success dz-complete" src="~/img/NoAvatar.png"/>
    }
    else
    {
        <img id="img" class="dz-message dz-preview dz-processing dz-image-preview dz-success dz-complete" style="width: 300px; height: 300px" src="~/Uploads/@ViewData["Photo"]"/>
    }

    <form asp-action="Index" enctype="multipart/form-data">
        <label class="ui right labeled icon button" style="width: 10%">
            Picture
            <i class="upload icon"></i>
            <input type="file" name="file" accept="image/jpeg,image/png,image/gif" style="display: none"/>
        </label>
        <button class="btn btn-default" type="submit">@Localizer["Upload"]</button>
    </form>

    <dl class="dl-horizontal">
        <dt>@Localizer["Password"]:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">@Localizer["Change"]</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">@Localizer["Create"]</a>
            }
        </dd>
    </dl>
</div>

@section Scripts{
    <environment names="Development">
        <script src="~/lib/dropzone/dist/dropzone.js"></script>
        <script src="~/js/Manage/Index.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/dropzone/dist/min/dropzone.min.js"></script>
        <script src="~/js/Manage/Index.js"></script>
    </environment>
}