@inject IViewLocalizer Localizer

@model RegisterViewModel

@{
    ViewData["Title"] = Localizer["Register"];
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">

</form>
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui black image header">
            <img src="~/img/logo.png" class="image">
            <div class="content">
                @Localizer["Register"]
            </div>
        </h2>
        <form class="ui large form" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="mail icon"></i>
                        <input asp-for="Email" placeholder="E-mail">
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input asp-for="Login" placeholder="@Localizer["Login"]">
                    </div>
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>

                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input asp-for="Password" placeholder="@Localizer["Password"]">
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input asp-for="ConfirmPassword" placeholder="@Localizer["ConfirmPassword"]">
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <button class="ui fluid large black submit button" type="submit">@Localizer["Register"]</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}