@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Collections.Generic;
@using AskAbout.Models;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Reply";
    Question question = (Question)Model;
}

<div class="panel-body">@question.Text</div>
@{
    foreach (Reply reply in (List<Reply>)ViewData["Replies"])
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                @reply.Date
            </div>
            <div class="panel-body">
                @reply.Text
            </div>
            <div class="panel-footer">
                <a asp-area="" asp-controller="Account" asp-action="Account" asp-route-id="@reply.User.UserName">@reply.User.UserName</a><br />
                <a asp-area="" asp-controller="Comment" asp-action="WriteComment" asp-route-id="@reply.Id">Comment</a><br />
            </div>
        </div>
    }
}

<form asp-controller="Question" asp-action="Reply" method="post" class="form-horizontal">
    <textarea name="Reply"></textarea>
    <input type="hidden" name="Qid" value="@question.Id" /><br />
    <button type="submit">Reply</button>
</form>