@model List<Question>
@using AskAbout.Data;

@{
    ViewData["Title"] = "Questions";
}
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ApplicationDbContext Db

@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">@item.Date</div>
        <div class="panel-body">@item.Text</div>
        @if (@SignInManager.IsSignedIn(User))
        {
            <div class="panel-footer">
                @{ 
                    int likesCount = item.LikesList != null
                        ? item.LikesList.Count
                        : 0;
                }
                
                @if (item.UserId == UserManager.GetUserId(User))
                {
                    if (item.RepliesNumber == 0)
                    {
                        <a asp-area="" asp-controller="Question" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    <a asp-area="" asp-controller="Question" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <a asp-area="" asp-controller="Question" asp-action="Question" asp-route-id="@item.Id">Show</a><br />                
                }
                else
                {                    
                    bool liked = false;
                    User user = ViewBag.User;
                    if (user.Likes != null)
                    {
                        liked = user.Likes.Exists(l => l.QuestionId == item.Id);
                    }


                    <a asp-area="" asp-controller="Question" asp-action="Question" asp-route-id="@item.Id">Reply</a>

                    if (!liked)
                    { 
                        <button question-id="@item.Id" id="@item.Id" class="like">Like</button>
                    }
                    else
                    {
                        <button question-id="@item.Id" id="@item.Id" class="dislike">Dislike</button>
                    }
                }
                <span id="likes-count">@likesCount</span>
            </div>
        }        
    </div>
}
@if (@SignInManager.IsSignedIn(User))
{
    <a asp-area="" asp-controller="Question" asp-action="Add">Add question</a>
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Question/Questions.js"></script>