@{
    ViewData["Title"] = "Questions";
}
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">@item.Date</div>
        <div class="panel-body">@item.Text</div>
        @if (@SignInManager.IsSignedIn(User))
        {
            <div class="panel-footer">
                @if (item.UserId == UserManager.GetUserId(User))
                {
                    if (item.RepliesNumber == 0)
                    {
                        <a asp-area="" asp-controller="Question" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    <a asp-area="" asp-controller="Question" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <a asp-area="" asp-controller="Question" asp-action="Question" asp-route-id="@item.Id">Show</a><br />                
                }
                else
                {
                    <a asp-area="" asp-controller="Question" asp-action="Question" asp-route-id="@item.Id">Reply</a>
                    <button id="@item.Id" class="like">Like</button>
                }
            </div>
        }        
    </div>
}
@if (@SignInManager.IsSignedIn(User))
{
    <a asp-area="" asp-controller="Question" asp-action="Add">Add question</a>
}

<script src="~/js/Question/Questions.js"></script>