@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Collections.Generic;
@using AskAbout.Models;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Reply";
    Question question = (Question)Model;
}

<form asp-controller="Question" asp-action="Edit" asp-route-id="@question.Id" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <div class="panel-body">@question.Text</div>
    @{
        foreach (Reply reply in (List<Reply>)ViewData["Replies"])
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    @reply.Date
                </div>
                <div class="panel-body">
                    @reply.Text
                </div>
                <div class="panel-footer">
                    @reply.User.UserName
                </div>
            </div>
        }
    }
    <textarea name="text"></textarea>
    <button type="submit">Add Answer</button>
</form>


