@inject IViewLocalizer Localizer

@model AskAbout.Models.Question

@{
    ViewData["Title"] = "Delete";
}

<h2>@Localizer["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Localizer["QuestionTitle"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Localizer["Text"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        @if (Model.Attachment != null)
        {
            <dt>
                @Localizer["Attachment"]
            </dt>
            <dd>
                <img src="~/Uploads/@Model.Attachment" />
            </dd>
        }
        
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="@Localizer["Delete"]" class="btn btn-default" /> |
            <a asp-action="Index">@Localizer["Back"]</a>
        </div>
    </form>
</div>
