@inject IViewLocalizer Localizer
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

@model DetailsQuestionViewModel

@{
    ViewData["Title"] = Localizer["Title"];
    User user = await UserManager.GetUserAsync(User);
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1> @Model.Question.Title</h1>
        </div>
        <div class="panel-body">
            <h3>@Model.Question.Text</h3>

            @if (Model.Question.Attachment != null)
            {
                <img src="~/Uploads/@Model.Question.Attachment" class="img-rounded img-responsive" />
            }
        </div>
        <div class="panel-footer">
            @if (Model.Question.Replies.Count == 0 && Model.Question.Likes.Count == 0)
            {
                <a asp-action="Edit" asp-route-id="@Model.Question.Id">@Localizer["Edit"] |</a>
            }

            <a asp-action="Index">@Localizer["Back"]</a>
        </div>
    </div>
</div>
<hr />

<h1 align="center">@Localizer["Replies"]</h1>

<form asp-controller="Replies" asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>@Localizer["Reply"]</h4>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@Model.Question.Id" asp-for="id" />
            <div class="panel-body">
                <textarea asp-for="Reply.Text" class="form-control" width="100%"></textarea>
                <span asp-validation-for="Reply.Text" class="text-danger"></span>
            </div>
            <div class="panel-footer">
                <input type="file" name="file" accept="image/jpeg,image/png,image/gif" />
                <br />
                <input type="submit" value="@Localizer["Reply"]" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<hr />

@foreach (Reply reply in Model.Question.Replies)
{
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>@reply.Text</h3>
            </div>
            @if (reply.Attachment != null)
            {
                <div class="panel-body">
                    <img class="img-rounded img-responsive" src="~/Uploads/@reply.Attachment" />
                </div>
            }

            @if (reply.User.Id == user?.Id)
                {
                <div class="panel-footer">
                    @if (reply.Comments.Count == 0)
                    {
                    <a asp-controller="Replies" asp-action="Edit" asp-route-id="@reply.Id" asp-route-qid="@reply.Question.Id">@Localizer["Edit"]</a>
                    }

                    <a asp-controller="Replies" asp-action="Delete" asp-route-id="@reply.Id" asp-route-qid="@reply.Question.Id">@Localizer["Delete"]</a>
                </div>                
            }            
        </div>
    </div>

    @foreach (Comment comment in reply.Comments)
    {
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>@comment.Text</h4>
                    </div>
                    @if (comment.Attachment != null)
                    {
                        <div class="panel-body">
                            <img class="img-rounded img-responsive" src="~/Uploads/@comment.Attachment" />
                        </div>
                    }

                    @if (comment.User.Id==user?.Id)
                    {
                        <div class="panel-footer">
                            <a asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.Id">@Localizer["Edit"] |</a>
                            <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id">@Localizer["Delete"]</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

    <form asp-controller="Comments" asp-action="Create" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>@Localizer["Comment"]</h4>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" value="@Model.Question.Id" name="qid" />
                    <input type="hidden" value="@reply.Id" name="rid" />
                    <div class="panel-body">
                        <textarea asp-for="Comment.Text" class="form-control" width="100%"></textarea>
                        <span asp-validation-for="Comment.Text" class="text-danger"></span>
                    </div>
                    <div class="panel-footer">
                        <input type="file" name="file" accept="image/jpeg,image/png,image/gif" />
                        <br />
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </form>

    <hr />
}