@model AskAbout.Models.Question

<h1 class="text-center">@Model.Title</h1>
<p class="text-center">@Model.Text</p>
<img src="Uploads/Question/@Model.Attachment"/>
@foreach (var reply in Model.Replies)
{
    <img src="Uploads/User/@reply.User.Photo"/>
    <div class="media-body">
        <h5>@reply.User.UserName</h5>
        @reply.Text
        @foreach (var comment in reply.Comments)
        {
            <img src="Uploads/User/@comment.User.Photo"/>
            @comment.Text
        }
    </div>
}

<partial name="~/Views/Replies/Create.cshtml"/>