@inject IViewLocalizer Localizer
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

@model DetailsQuestionViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question.LikesCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.LikesCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question.Attachment)
        </dt>
        <dd>
            <img src="~/Uploads/@Model.Question.Attachment" />
        </dd>
    </dl>
</div>

<div>
    @if (Model.Question.RepliesCount == 0)
    {
        <a asp-action="Edit" asp-route-id="@Model.Question.Id">Edit |</a>
    }

    <a asp-action="Index">Back to List</a>
</div>
<hr />

<form asp-controller="Replies" asp-action="Create" enctype="multipart/form-data">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Reply</h4>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" value="@Model.Question.Id" asp-for="id" />
        <div class="panel-body">
            <textarea asp-for="Reply.Text" class="form-control" width="100%"></textarea>
            <span asp-validation-for="Reply.Text" class="text-danger"></span>
        </div>
        <div class="panel-footer">
            <input type="file" name="file" />
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</form>
<hr />

@foreach (Reply reply in Model.Question.Replies)
{
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>@reply.Text</h2>
            </div>
            <div class="panel-body">
                <img class="img-rounded img-responsive" src="~/Uploads/@reply.Attachment" />
            </div>
            <div class="panel-footer">
                @if (reply.User == await UserManager.GetUserAsync(User))
                {
                    if (reply.CommentariesCount == 0)
                    {
                        <a asp-controller="Replies" asp-action="Edit" asp-route-id="@reply.Id" asp-route-qid="@reply.Question.Id">Edit |</a>
                    }

                    <a asp-controller="Replies" asp-action="Delete" asp-route-id="@reply.Id" asp-route-qid="@reply.Question.Id">Delete</a>
                }
            </div>
        </div>
    </div>

    @foreach (Comment comment in reply.Comments)
    {
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p>@comment.Text</p>
                    </div>
                    <div class="panel-body">
                        <img class="img-rounded img-responsive" src="~/Uploads/@comment.Attachment" />
                    </div>
                    <div class="panel-footer">
                        @if (comment.User == await UserManager.GetUserAsync(User))
                        {
                            {
                                <a asp-controller="Replies" asp-action="Edit" asp-route-id="@reply.Id" asp-route-qid="@reply.Question.Id">Edit |</a>
                            }

                            <a asp-controller="Replies" asp-action="Delete" asp-route-id="@reply.Id" asp-route-qid="@reply.Question.Id">Delete</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    <form asp-controller="Comments" asp-action="Create" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Comment</h4>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" value="@Model.Question.Id" name="qid" />
                    <input type="hidden" value="@reply.Id" name="rid" />
                    <div class="panel-body">
                        <textarea asp-for="Comment.Text" class="form-control" width="100%"></textarea>
                        <span asp-validation-for="Comment.Text" class="text-danger"></span>
                    </div>
                    <div class="panel-footer">
                        <input type="file" name="file" />
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </form>

    <hr />
}