@inject IViewLocalizer Localizer
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

@model IEnumerable<AskAbout.Models.Question>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LikesCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RepliesCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikesCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepliesCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @if (SignInManager.IsSignedIn(User))
                {
                    if (item.User==await UserManager.GetUserAsync(User) && item.RepliesCount == 0 && item.LikesCount == 0)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a>
                    }
                    if (item.User == await UserManager.GetUserAsync(User))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                }
                             
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
