@inject IViewLocalizer Localizer
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

@model IEnumerable<AskAbout.Models.Question>

@{
    ViewData["Title"] = Localizer["Title"];
}

<h2>@Localizer["Title"]</h2>

<p>
    <a asp-action="Create">@Localizer["Add"]</a>
</p>

@foreach (var item in Model)
{
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>@item.Title</h2>
            </div>
            <div class="panel-body">
                <h4>@item.Text</h4>

                @if (item.Attachment != null)
                {
                    <img class="img-rounded img-responsive" src="~/Uploads/@item.Attachment" />
                }
            </div>
            <div class="panel-footer">
                <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"] |</a>

                @{
                    var user = await UserManager.GetUserAsync(User);
                }

                @if (user != null)
                {
                    if (item.User.Id == user?.Id && item.Replies.Count == 0 && item.Likes.Count == 0)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"] |</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                    }

                    if (item.User.Id != user?.Id)
                    {
                        <br />
                        Like like = item.Likes.SingleOrDefault(l => l.User.Id == user.Id && l.Question == item);
                        if (like == null)
                        {
                            <button class="btn btn-default like" onclick="like(this,@item.Id)">Like</button>
                            <button class="btn btn-default dislike" onclick="dislike(this,@item.Id)">Dislike</button>
                        }
                        else
                        {
                            if (like.IsLiked == true)
                            {
                                <button class="btn btn-success like" onclick="removeLike(this,@item.Id)">Like</button>
                                <button class="btn btn-default dislike" onclick="dislike(this,@item.Id)">Dislike</button>
                            }
                            else
                            {
                                <button class="btn btn-default like" onclick="like(this,@item.Id)">Like</button>
                                <button class="btn btn-danger dislike" onclick="removeDislike(this,@item.Id)">Dislike</button>
                            }
                        }
                        <br />
                    }
                }                
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="~/js/Question/Index.js"></script>
}