@inject IViewLocalizer Localizer
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

@model IEnumerable<AskAbout.Models.Question>

@{
    ViewData["Title"] = Localizer["Title"];
}

<h2>@Localizer["Title"]</h2>

@section Styles{
    <link rel="stylesheet" href="~/css/Questions/Index.css" />
}

<p>
    <a asp-action="Create">@Localizer["Add"]</a>
</p>

<div class="ui link cards">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="image">
                @if (item.Attachment != null)
                {
                    <img src="~/Uploads/@item.Attachment" />
                }
                else
                {
                    <img src="~/img/logo.png" />
                }
            </div>
            <div class="content">
                <div class="header">@item.Title</div>
                <div class="description">@item.Text</div>
            </div>
            <div class="extra content">
                <span class="right floated">@item.Date </span>
                <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a>
                @{
                    var user = await UserManager.GetUserAsync(User);
                }

                @if (user != null)
                {
                    if (item.User.Id == user?.Id && item.Replies.Count == 0 && item.Likes.Count == 0)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"] |</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                    }

                    if (item.User.Id != user?.Id)
                    {
                        <br />
                        Like like = item.Likes.SingleOrDefault(l => l.User.Id == user.Id && l.Question == item);
                        if (like.IsLiked == null)
                        {
                            <i class="thumbs outline up icon" onclick="like(this,@item.Id)">@item.Likes.Where(l=>l.IsLiked==true).Count()</i>
                            <i class="thumbs outline down icon" onclick="dislike(this,@item.Id)">@item.Likes.Where(l => l.IsLiked == false).Count()</i>
                        }
                        else
                        {
                            if (like.IsLiked == true)
                            {
                                <i class="thumbs up icon" onclick="removeLike(this,@item.Id)">@item.Likes.Where(l => l.IsLiked == true).Count()</i>
                                <i class="thumbs outline down icon" onclick="dislike(this,@item.Id)">@item.Likes.Where(l => l.IsLiked == false).Count()</i>
                            }
                            else
                            {
                                <i class="thumbs outline up icon" onclick="like(this,@item.Id)">@item.Likes.Where(l => l.IsLiked == true).Count()</i>
                                <i class="thumbs down icon" onclick="removeDislike(this,@item.Id)">@item.Likes.Where(l => l.IsLiked == false).Count()</i>
                            }
                        }
                        <br />
                    }
                }
                @*<span><i class="thumbs outline up icon"></i> 75 likes </span>*@
            </div>
            </div>
        }
</div>


@section Scripts{
    <script src="~/js/Question/Index.js"></script>
}