@inject IViewLocalizer Localizer
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

@using System.Linq
@model IEnumerable<Question>

@{
    ViewData["Title"] = Localizer["Title"];
}

<h2>@Localizer["Title"]</h2>

@section Styles{
    <link rel="stylesheet" href="~/css/Questions/Index.css" />
}

<div class="ui five stackable cards">
    @foreach (var question in Model)
    {
        <div class="ui card">
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button">
                                <a asp-action="Details" asp-route-id="@question.Id">@Localizer["Details"]</a>
                            </div>
                        </div>
                    </div>
                </div>
                @if (question.Attachment != null)
                {
                    <img src="~/Uploads/@question.Attachment" />
                }
                else
                {
                    <img src="~/img/logo.png" />
                }
            </div>
            <div class="content">
                <div class="header">@question.Title</div>
            </div>
            <div class="extra content">
                <span class="right floated">@question.Date </span>
                @{
                    var user = await UserManager.GetUserAsync(User);
                }

                @if (user != null)
                {
                    if (!question.User.Equals(user))
                    {
                        var like = question.Likes.SingleOrDefault(l => l.User.Equals(user) && l.Question.Equals(question));
                        if (like != null)
                        {
                            switch (like.IsLiked)
                            {
                                case null:
                                    <i class="thumbs outline up icon" onclick="like(this, @question.Id)">@question.Likes.Count(l => l.IsLiked == true)</i>
                                    <i class="thumbs outline down icon" onclick="dislike(this, @question.Id)">@question.Likes.Count(l => l.IsLiked == false)</i>
                                    break;
                                case true:
                                    <i class="thumbs up icon" onclick="removeLike(this, @question.Id)">@question.Likes.Count(l => l.IsLiked == true)</i>
                                    <i class="thumbs outline down icon" onclick="dislike(this, @question.Id)">@question.Likes.Count(l => l.IsLiked == false)</i>
                                    break;
                                case false:
                                    <i class="thumbs outline up icon" onclick="like(this, @question.Id)">@question.Likes.Count(l => l.IsLiked == true)</i>
                                    <i class="thumbs down icon" onclick="removeDislike(this, @question.Id)">@question.Likes.Count(l => l.IsLiked == false)</i>
                                    break;
                            }
                        }
                        else
                        {
                            <i class="thumbs outline up icon" onclick="like(this, @question.Id)">@question.Likes.Count(l => l.IsLiked == true)</i>
                            <i class="thumbs outline down icon" onclick="dislike(this, @question.Id)">@question.Likes.Count(l => l.IsLiked == false)</i>
                        }
                    }
                    else
                    {
                        <i class="thumbs outline up icon">@question.Likes.Count(l => l.IsLiked == true)</i>
                        <i class="thumbs outline down icon">@question.Likes.Count(l => l.IsLiked == false)</i>
                       
                        if (question.Replies.Count == 0 && question.Likes.Count == 0)
                        {
                            <br/>
                            <a asp-controller="Questions" asp-action="Edit" asp-route-id="@question.Id">@Localizer["Edit"] |</a>
                            <a asp-controller="Questions" asp-action="Delete" asp-route-id="@question.Id">@Localizer["Delete"]</a>
                            <br />
                        }
                    }
                }
                else
                {
                    <i class="thumbs outline up icon">@question.Likes.Count(l => l.IsLiked == true)</i>
                    <i class="thumbs outline down icon">@question.Likes.Count(l => l.IsLiked == false)</i>
                    <br />
                }
            </div>
        </div>
        }
</div>


@section Scripts{
    <script src="~/js/Question/Index.js"></script>
}